NEXT_PUBLIC_APP_URL=

CRON_SECRET=

EDGE_CONFIG=

AGENT_PK=
CLIENT1_PK=
CLIENT2_PK=
CLIENT3_PK=
VALIDATOR_PK=

SEPOLIA_RPC_URL=
BASE_SEPOLIA_RPC_URL=
ZG_GALILEO_RPC_URL=

UNISWAP_API_KEY=

KEEPERHUB_API_KEY=
KEEPERHUB_WORKFLOW_ID_SWAP=

ZG_BROKER_URL=
ZG_PRIVATE_KEY=

REDIS_URL=

BLOB_READ_WRITE_TOKEN=
