node_modules
.pnpm-store
.next
out
build
dist

.env
.env.local
.env.*.local
.vercel

contracts/out
contracts/cache
contracts/broadcast

next-env.d.ts
*.tsbuildinfo

.DS_Store
*.log
.idea
.vscode
.cursor
